<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>Sample Maven Web App</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Add</servlet-name>
    <jsp-file>/WEB-INF/addStudent.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/WEB-INF/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayAllServlet</display-name>
    <servlet-name>DisplayAllServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.DisplayAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllServlet</servlet-name>
    <url-pattern>/displayStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <jsp-file>/WEB-INF/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchStudentServlet</display-name>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/searchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WELCOME</servlet-name>
    <jsp-file>/WEB-INF/welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>WELCOME</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LOGIN</servlet-name>
    <jsp-file>/WEB-INF/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGIN</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProfessor</servlet-name>
    <jsp-file>/WEB-INF/addProfessor.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfessor</servlet-name>
    <url-pattern>/addProfessor</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>AddProfessorServlet</display-name>
    <servlet-name>AddProfessorServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.AddProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProfessorServlet</servlet-name>
    <url-pattern>/addProfessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
      <servlet>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.fdmgroup.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index2</servlet-name>
    <jsp-file>/WEB-INF/index2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index2</servlet-name>
    <url-pattern>/index2</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckFieldsNotEmpty</display-name>
    <filter-name>CheckFieldsNotEmpty</filter-name>
    <filter-class>com.fdmgroup.controller.CheckFieldsNotEmpty</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckFieldsNotEmpty</filter-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </filter-mapping>
</web-app>
